* {
    margin: auto;
}

body {
    background-color: rgb(52, 125, 174);
    color: rgb(247, 241, 241);
    max-width: 500px;
}

h1, h2 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(28, 89, 130);
    padding: 10px;
}


h3 {
    display: inline-block;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(28, 89, 130);
    padding: 5px;
    margin-top: 30px;
    font-size: 24px;
}

a {
    text-decoration: none;
}

/* home button for all pages */
#home {
    text-decoration: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    padding: 7px;
    background-color: rgb(247, 241, 241);
    color: rgb(28, 89, 130);
    border: 2px solid rgb(28, 89, 130);
    border-radius: 15px;
}

#home:hover {
    background-color: rgb(21, 58, 83);
    color: rgb(247, 241, 241);
    cursor: pointer;
}

p, #home {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 25px;
}

img {
    margin: 20px 0 10px -100px;
}

/* for annotated bib */
.articleLinks {
    color: rgb(21, 58, 83);
    font-style: italic;
    font-size: 24px;
}

.articleLinks:hover {
    cursor: pointer;
    color: rgb(95, 191, 255);
}

.mlaCitation {
    margin-bottom: 10px;
}
