* {
    margin: 0;
}

/* takes up full vp width and height and centers objects inside */
#centeringBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* position selector box and outline correctly */
.absolute {
    position: absolute;
}

/* used in js to display and hide selector boxes and outline images */
.hidden {
    display: none;
}

#rightArrow {
    position: absolute;
    top: 380px;
    margin-left: 20px;
}

/* placed over door */
#doorClickableArea {
    position: absolute;
    top: 328px;
    left: 335px;
    height: 200px;
    width: 122px;
    z-index: 3;
}

/* placed over door, activated when clickable area is hovered */
#doorOutline {
    position: absolute;
    top: 330px;
    left: 335px;
    z-index: 1;
}

#person1ClickableArea {
    position: absolute;
    top: 330px;
    left: 80px;
    height: 205px;
    width: 113px;
    z-index: 2;
    transform: rotate(145deg);
}

#person1Outline {
    position: absolute;
    top: 325px;
    left: 77px;
    z-index: 1;
}

#person2ClickableArea {
    position: absolute;
    top: 265px;
    left: 240px;
    height: 205px;
    width: 97px;
    z-index: 2;
    transform: rotate(175deg);
}

#person2Outline {
    position: absolute;
    top: 260px;
    left: 240px;
    z-index: 1;
}

#person3ClickableArea {
    position: absolute;
    top: 272px;
    left: 460px;
    height: 200px;
    width: 122px;
    z-index: 2;
}

#person3Outline {
    position: absolute;
    top: 270px;
    left: 453px;
    z-index: 1;
}

#person4ClickableArea {
    position: absolute;
    top: 402px;
    left: 655px;
    height: 210px;
    width: 108px;
    z-index: 2;
}

#person4Outline {
    position: absolute;
    top: 402px;
    left: 646px;
    z-index: 1;
}

#person5ClickableArea {
    position: absolute;
    top: 501px;
    left: 500px;
    height: 210px;
    width: 118px;
    z-index: 2;
}

#person5Outline {
    position: absolute;
    top: 496px;
    left: 452px;
    z-index: 1;
}

#catClickableArea {
    position: absolute;
    top: 351px;
    left: 371px;
    height: 65px;
    width: 77px;
    z-index: 2;
}

#catOutline {
    position: absolute;
    top: 350px;
    left: 371px;
    z-index: 1;
}

#windowClickableArea {
    position: absolute;
    top: 43px;
    left: 231px;
    height: 210px;
    width: 362px;
    z-index: 2;
}

#windowOutline {
    position: absolute;
    top: 41px;
    left: 221px;
    z-index: 1;
}

#gameClickableArea {
    position: absolute;
    top: 470px;
    left: 346px;
    height: 72px;
    width: 107px;
    z-index: 2;
}

#gameOutline {
    position: absolute;
    top: 468px;
    left: 346px;
    z-index: 1;
}

/* text that displays when the window in the living room is clicked and the city scape appears */
/* background container for text */
#cityScapeTextContainer {
    position: absolute;
    top: 230px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px 20px 30px 20px;
    font-size: 24px;
    color: rgb(198, 188, 55);
    background-color: rgba(26, 4, 62, 0.85);
    z-index: 2;
}

/* button to close cityscape opening text */
#cityScapeTextButton {
    position: absolute;
    top: 235px;
    right: 45px;
    z-index: 3;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* letters of text are invisible at first, then as js runs, they show one by one */
.letter {
    opacity: 0;
    animation: revealLetter 1s forwards;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes revealLetter {
    from { opacity: 0; }
    to { opacity: 1; }
}